body {
        background: silver;
	font: 1.5vh 'trebuchet ms', arial, sans-serif;
        width: auto;
        height: auto;
}

div {
    background-color: white;
}
    
div #textBlock{
    font-size: 1em; 
    text-align: justify; 
    margin-left:4.5vw; 
    width:40vw;
}
    
.chart div {
      background-color: #436fac;
      font-size: 2em;
      border: 1px solid;
      border-color: orange;
      text-align: right;
      padding: 3px;
      margin: 1px;
      color: black;
}
    
.logo {      
    float: right;
    width: 8vw;
    height: auto;
}
    
/** Structure */
#header {
    color: #fff;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    border-bottom: 0.5vh solid orange;
    background: url(images/FL_foerde3_scaled.png);
    background-position: 50% 62%;
    padding:3vh 3.5vw 3vh 3.5vw;
    width: 92.0vw;
}

#content {
    background: white;
    padding: 3vh 3.5vw 3vh 3.5vw;
    width: 92vw;
    height: auto;
    min-height: 15vw;
        
}

#footer {
    background: #12407f;
    color: #fff;
    padding:3vh 3.5vw 3vh 3.5vw;
    border-top: 4px solid #436fac;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 92vw;
    height: auto;
}


#header a:hover {
	background: gray;
}

/** Forms */
form {
	font: 100% verdana,arial,sans-serif;
}

#createLabel{
        float: left; 
	width: 5vw;
        height: auto;
        display:inline;
	text-align: left;
        font-size: 1.5em;
        margin-right: 1vw;
        padding-top: 0.4vh;
        margin-top: 1.5vh;
}

.createInput{
        display: inline;
	width: 20vw;
        height: auto;
	border: 1px solid gray;	
        font-size: 1.5em;
        margin-right:2vw;
        margin-top: 1.5vh;
}

#defaultLabel{ 
	display: inline-cell;
	float: left; 
	width: 10vw; 
	text-align: right;
        font-size: 1.5em;
        margin-right: 1vw;
        padding-top: 0.3vh;
}

form input, form select {
        display: inline-cell;
	width: 20vw;
        height: 3vh;
	border: 1px solid gray;	
        font-size: 1.5em;
}

#editLabel {        
	display: block;	
        font-size: 1.5em;
        margin-right: 1vw;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
}

form br {clear: left;}

/*Button der Navigation*/
.buttonNav {
        width: auto;
        height: auto;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        border-radius: 0.5vw;
        background-color:blueviolet;
        opacity: .8;
        color: #FFFFFF;
        font-size: 0.8vw;      
        transition: all 0.5s;
        cursor: pointer;
        margin: 4vh 0.5vw 0vh 0.5vw;
        padding: 0.8vh 0.8vw 0.8vh 0.8vw;
}

.buttonNav span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
        padding: 0;
}

.buttonNav span:after {
        content: '>>';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -0.5vw;
        transition: 0.5s;
}

.buttonNav:hover span {
        padding-right: 1.5vw;
}

.buttonNav:hover span:after {
        opacity: 1;
        right: 0;
}
/*Button Für den Contentbereich*/
.buttonContBig{
        width: auto;
        height: auto;  
        display: inline-block;
        text-decoration: none;
        text-align: center;
        padding: 0.5vh 0.7vw 0.55vh 0.7vw;
        border-radius: 0.2vw;
        background-color:blueviolet;
        color: #FFFFFF;
        font-size: 1.3em;
        transition: all 0.5s;
        cursor: pointer;  
        border: 0;
}

.buttonContBig span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
}

.buttonContBig span:after {
        content: '+';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
}

.buttonContBig:hover span {
        padding-right: 30px;
}

.buttonContBig:hover span:after {
        opacity: 1;
        right: 0;
}

/*hyprlinks als Button*/
.submitClass {
        background: none;    
        border: none;    
        color: blueviolet;    
        text-decoration: underline;    
        cursor: pointer;
        font-size: 1em;
}

.submitClass:hover
{
    transition: 0.5s;
    font-weight: bold;
}

/*Überschriften*/
h1{
    font-size: 2vw;
}
h2{
    font-size: 1.8vw;
}
h3{
    font-size: 1.5vw;
  
}
h4{    
    font-size: 1.2vw;
}
h5{
    font-size: 0.9vw;
}
h6{
    font-size: 0.7vw;
    padding: 0px;
    margin: 0px;
}

hr{
    border: solid silver 1px;
}

.tdConf{
    font-size: 1.5em;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 2.5vw;    
    text-align: left;
    border-spacing: 2vw 0.7vh;
    
}

.tdResults{
    font-size:1.5em;
    text-align:right; 
    display:table-cell; 
    vertical-align:middle;
    border-spacing: 2vw 0.7vh;
}

#div{
    font-size: 1.5em;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 4.5vw;
    margin-bottom: 1vh;
    margin-right: 1vw;
}


/*Icon Buttons*/
.buttonPlay{
    background: url(images/play.png) no-repeat;
    background-size: 100%;
    cursor: pointer;
    border: none;
    width: 2vw;
    height: 2vw;
}
.buttonPlay:hover{
    background: url(images/play_hover.png) no-repeat;
    background-size: 100%;
    width: 2vw;
    height: 2vw;
}

.buttonEdit{
    background: url(images/edit_new.png) no-repeat;
    background-size: 100%;
    cursor: pointer;
    border: none;
    width: 2vw;
    height: 2vw;
}
.buttonEdit:hover{
    background: url(images/edit_new_hover.png) no-repeat;
    background-size: 100%;
    width: 2vw;
    height: 2vw;
}

.buttonAdd{
    background: url(images/add.png) no-repeat;
    background-size: 100%;
    display:inline;
    cursor: pointer;
    border: none;
    width: 2vw;
    height: 2vw;
   }
.buttonAdd:hover{
    background: url(images/add_hover.png) no-repeat;
    background-size: 100%;
    width: 2vw;
    height: 2vw;
}

.buttonDelete{
    background: url(images/delete.png) no-repeat;
    background-size: 100%;
    display: inline;
    cursor: pointer;
    border: none;
    width: 2vw;
    height: 2vw;
    }
.buttonDelete:hover{
    background: url(images/delete_hover.png) no-repeat;
    background-size: 100%;
    width: 2vw;
    height: 2vw;
}

.buttonAddExcl{
    background: url(images/add_exclamation.png) no-repeat;
    background-size: 100%;
    display:inline;
    cursor: pointer;
    border: none;
    width: 2vw;
    height: 2vw;
}

.buttonAddExcl:hover{
    background: url(images/add_exclamation_hover.png) no-repeat;
    background-size: 100%;
    width: 2vw;
    height: 2vw;
}

.buttonAddQuest{
    background: url(images/add_question.png) no-repeat;
    background-size: 100%;
    display:inline;
    cursor: pointer;
    border: none;
    width: 2vw;
    height: 2vw;
}

.buttonAddQuest:hover{
    background: url(images/add_question_hover.png) no-repeat;
    background-size: 100%;
    width: 2vw;
    height: 2vw;
}
.buttonResults{
    background: url(images/results.png) no-repeat;
    background-size: 100%;
    display:inline;
    cursor: pointer;
    border: none;
    width: 2vw;
    height: 2vw;
    
}

.buttonResults:hover{
    background: url(images/results_hover.png) no-repeat;
    background-size: 100%;
    width: 2vw;
    height: 2vw;
}

.buttonStop{
    background: url(images/stop.png) no-repeat;
    background-size: 100%;
    display:inline;
    cursor: pointer;
    border: none;
    width: 2vw;
    height: 2vw;
}

.buttonStop:hover{
    background: url(images/stop_hover.png) no-repeat;
    background-size: 100%;
    width: 2vw;
    height: 2vw;
}

.buttonLive{
    background: url(images/live.png) no-repeat;
    background-size: 100%;
    display:inline;
    cursor: pointer;
    border: none;
    width: 2vw;
    height: 2vw;
}

.buttonLive:hover{
    background: url(images/live_hover.png) no-repeat;
    background-size: 100%;
    width: 2vw;
    height: 2vw;
}

/*Unbenutze CSS Elemte*/
/*.buttonContSmall{
        width: auto;
        height: auto;  
        display: table-cell;
        text-decoration: none;
        text-align: center;
        padding: 0.5vh 0.7vw 0.55vh 0.7vw;
        border-radius: 0.2vw;
        background-color:blueviolet;
        color: #FFFFFF;
        font-size: 0.65em;
        transition: all 0.5s;
        cursor: pointer;  
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        
        
}

.buttonContSmall span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
}

.buttonContSmall span:after {
        content: '+';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
}

.buttonContSmall:hover span {
        padding-right: 30px;
}

.buttonContSmnall:hover span:after {
        opacity: 1;
        right: 0;
}*/