body {
        padding: 10px;
        background: silver;
	font: 16px 'trebuchet ms', arial, sans-serif;
        width: 98.5vw;
        
}


div {
    background-color: white;
    margin: 2px 0px 2px 0px;
}

/** Structure */
#header {
	padding: 10px;
	color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 4px solid orange;
        background: url(images/FL_förde3.jpg) ;
        background-position: 50% 62%;
        /*background-size: 100% 100%;*/
        width: 97.0vw;
        height: 16vw;
        
        
        
        
        
        
        
}

#content {
	background: #fff;
	padding: 20px;
        
}

#footer {
	background: #12407f;
	color: #fff;
	padding: 20px;
	border-top: 4px solid #436fac;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
       
}

/* Links */
/*#header a {
	color: #fff;
	background: 
	padding: 4px 15px;
	text-decoration: none;
	font-size: 15px;
	font-weight: bolder;
}*/

#header a:hover {
	background: gray;
}

/** Forms */
form {
	font: 100% verdana,arial,sans-serif;
}

form label { 
	display: block;
	float: left; 
	width: 10vw; 
	padding: 0.3vw; 
	margin: 9px 0 0;
	text-align: right;
        font-size: 1vw;
        
}

form input, form select {
	width: 20vw;
        height: 1.5vw;
	margin: 5px 0 0 10px;
	border: 1px solid gray;
	padding: 0.3px;
}

form input[type=submit]:hover {
	cursor: pointer;
	background: silver;
}


form br {clear: left;}

.button {
        width: 8vw;
        height: 2.1vw;  
        display: inline-block;
        text-decoration: none;
        text-align: center;
        padding: 0.4vh 0px 0px 0px;
        border-radius: 0.5vw;
        background-color:blueviolet;
        color: #FFFFFF;
        font-size: 1.3vw;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5vw 5px 5px 5px;
  
  
}

.button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
}

.button span:after {
        content: '»';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
}

.button:hover span {
        padding-right: 30px;
}

.button:hover span:after {
        opacity: 1;
        right: 0;
}

.logo
{      
        float: right; 
        /*background: url(images/HF_Logo.png);*/
        background-size: 10vw 10vw;
        background-repeat: no-repeat;
        z-index: 3;
        
       
        
        
}
.button2{
        width: 8vw;
        height: 2.1vw;  
        display: inline-block;
        text-decoration: none;
        text-align: center;
        padding: 0.2vw 0px 0px 0px;
        border-radius: 4px;
        background-color:blueviolet;
        color: #FFFFFF;
        font-size: 0.8vw;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px 5px 5px 10px;
}

.button2 span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
}

.button2 span:after {
        content: '+';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
}

.button2:hover span {
        padding-right: 30px;
}

.button2:hover span:after {
        opacity: 1;
        right: 0;
}

h1{
    font-size: 5vw;
}
h2{
    font-size: 2vw;
}
h3{
    
}
h4{
    
}
h5{
    
}
h6{
    
}
